.sg-ui-rest-client{
    background-color: #78909c;
    display: block;
    position: fixed;
    width: 100%;
    flex-direction: column;  
    color: #EAEFF2;
    height: 100vmax;
    font-family: Roboto;
    
}

.sg-ui-rest-client-title{
    background-color: #3B5E6F;
    color: #EAEFF2;
    align-content: center;
    padding: 7px;
    padding-left: 15px;
    font: 300 18px/40px Roboto,sans-serif;
    letter-spacing: -.01em;
    text-transform: uppercase;
}

.sg-ui-rest-client-content{
}
.sg-ui-rest-url{
    margin-top:50px;
    padding: 10px;    
    font: 14px/20px Roboto Mono,monospace;
    border-bottom: #dddddd solid 1px;
    border-top: #dddddd solid 1px;
    max-width: 400px;
    position: relative;
    word-wrap: break-word;
    
}

.sg-ui-rest-method{
    border: 1px solid #dddddd;
    padding: 5px;
    text-transform: uppercase;
    margin: 5px;
    border-radius: 2px;
    margin-right: 30px;
}

.sg-ui-params-tab{
    position: relative;
    height: 50px;
    max-width: 26%;
    background-color: #3b5e6f;
    margin: 20px;
    padding: 3px;
    border-radius: 4px;
}

.sg-ui-params-tab::before,
.sg-ui-params-tab::after{
    content:"";
    display: table ;
    clear:both;
}
.sg-ui-params-tab-item{
    background-color: #C2CFD5;
    min-width: 16.4%;
    height: 33px;
    margin: 2px;
    float: left;
    padding: 6px;
    font: 14px/32px Roboto Mono,sans-serif;
    color: #3b5e6f;
    text-transform: capitalize;
    padding-left: 22px;
    cursor: pointer;
    border-radius: 2px;    
}
.sg-ui-params-tab-item:hover{
    background-color: #B0BCC2;   
    color: #FFFFFF;
    font-weight: bolder;
}
.sg-ui-params-tab-item-selected{
    background-color: #3b5e6f !important;  
    color:  #C2CFD5;
}
.sg-ui-pointer{
    cursor: pointer;
}

.sg-ui-params{
    position: relative;
    height: 50px;
    max-width: 26%;
    margin: 20px;
    padding: 3px;
    border-radius: 4px;
}
.sg-ui-params-item{
    background-color:  #F8F8F8;
    color: #3b5e6f;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    
}
.sg-ui-params-item:hover{
    background-color:  #E8E8E8;

}

.sg-ui-params-item:nth-child(1){
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.sg-ui-params-item:nth-last-child(1){
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

input[type=text].sg-ui-params-text{
    width: 42%;
    margin: 2px;
    border: none;
    height: 20px;
    border-radius: 3px;
    
}

.sg-ui-request-body{
    height: 300px;
    width: 100%;
}
.sg-ui-err{
    width: 100%;
    padding: 10px;
    background-color: #FF5555;
    color: #ffffff;
    position: relative;
    border-radius: 5px;    
}